.img-profile {
  object-fit: cover;
  border-radius:50%;
  width: 150px;
  height: 150px;
  border-style: solid;
}
.golge{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fotoYukari {
  margin-top: 0px;
  margin-bottom: -70px;
  z-index: 2;
}
.iconGit{
  color: #353A40;
}
 .iconGit:hover{
   color: #24292D;
 }
 .iconLnk{
  color: #353A40;
}
.iconLnk:hover{
 color: #0077BA;
}
.iconFb{
  color: #353A40;
}
.iconFb:hover{
 color: #3B6AAE;
}
.iconTw{
  color: #353A40;
}
.iconTw:hover{
 color: #1DA1F3;
}
